body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  transition: background-color 0.5s;
  height: 100vh;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  padding: 40px;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  transition: background-color 0.5s;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
